@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron/static/Orbitron-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron/static/Orbitron-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron/static/Orbitron-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron/static/Orbitron-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron/static/Orbitron-Black.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron/static/Orbitron-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
