:root{
  --primary_text_font: 'Orbitron', sans-serif;
  --primary_text_color: #E2DC9F;
  --secondary_text_color: #C5AA67;
  --light_text_color: #F3EED8;
  --highlight_color: #dcdceb;
  --font_size: 14px;
}
