RewriteEngine On

RewriteBase /
RewriteCond %{REQUEST_URI} !^/dist/
RewriteRule ^(.*)$ dist/$1


RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} !sub/
RewriteRule ^ - [L]
# Rewrite everything else to index.html to allow html5 state links

RewriteRule ^ index.html [L]
